(cloud_devops_headers) {
  header {
    X-Content-Type-Options "nosniff"
    X-Frame-Options "DENY"
    Referrer-Policy "no-referrer"
  }
}

clouddevopslab.eu, www.clouddevopslab.eu {
  import cloud_devops_headers
  reverse_proxy 127.0.0.1:5000
}

http://{{ hostvars[inventory_hostname].ansible_host }} {
  reverse_proxy 127.0.0.1:5000
}


