global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: "node"
    static_configs:
      - targets:
          - "{{ hostvars['monitoring-1'].ansible_host }}:9100"
          - "{{ hostvars['app-1'].ansible_host }}:9100"

