---
- name: Install fail2ban
  ansible.builtin.apt:
    name: fail2ban
    state: present
    update_cache: true

- name: Configure sshd jail
  ansible.builtin.copy:
    dest: /etc/fail2ban/jail.d/sshd.local
    owner: root
    group: root
    mode: "0644"
    content: |
      [sshd]
      enabled = true
      port = ssh
      maxretry = 5
      findtime = 10m
      bantime = 1h
    notify: restart fail2ban

- name: Ensure fail2ban is enabled and started
  ansible.builtin.service:
    name: fail2ban
    state: started
    enabled: true
...
